= form_for @term do |f|
  - if @term.errors.any?
    #error_explanation
      %h2= "#{pluralize(@term.errors.count, "error")} prohibited this term from being saved:"
      %ul
        - @term.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label :definition
    = f.text_area :definition, class: "form-control"
  .form-group
    = f.label :author
    = f.text_field :author, class: "form-control"
  - if @categories
    .form-group
      - @categories.each do |category|
        = f.label category.name, class: "control-label"
        = f.radio_button(:category_id, "#{category.id}")
  .form-group
    = f.submit 'Save', class: "btn btn-primary"
