%h1 Listing terms

%ul.list-group
  - @terms.each do |term|
    %li.list-group-item
      %a{ href: "/terms/#{term.id}" }
        = term.name
      - if term.owned_by_user?(current_user)
        .btn-group.btn-group-xs
          %button.btn.btn-default{"aria-label" => "Left Align", :type => "button"}
            = link_to 'Edit', edit_term_path(term)
          %button.btn.btn-default{"aria-label" => "Left Align", :type => "button"}
            = link_to 'Delete', term, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br

= link_to 'New Term', new_term_path
