%p#notice= notice

%p
  %b Name:
  = @term.name
%p
  %b Definition:
  = @term.definition
%p
  %b Author:
  = @term.author
%p
  %b Category:
  = @term.category.name

.btn-group.btn-group-xs
  - if @term.owned_by_user?(current_user)
    %button.btn.btn-default{"aria-label" => "Left Align", :type => "button"}
      = link_to 'Edit', edit_term_path(@term)
    %button.btn.btn-default{"aria-label" => "Left Align", :type => "button"}
      = link_to 'Delete', @term, :method => :delete, :data => { :confirm => 'Are you sure?' }
  %button.btn.btn-default{"aria-label" => "Left Align", :type => "button"}
    = link_to 'Back', terms_path
