%p#notice= notice

%p
  %b Name:
  = @term.name
%p
  %b Definition:
  = @term.definition
%p
  %b Author:
  = @term.author
%p
  %b Category:
  = @term.category.name

- if logged_in?
  = link_to 'Edit', edit_term_path(@term)
  \|
= link_to 'Back', terms_path
