!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TIY Glossary
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if logged_in?
      %nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
          / Brand and toggle get grouped for better mobile display
          .navbar-header
            %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{:href => "/"} TIY Glossary
          / Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li.active
                = link_to 'Terms', terms_path
              %li
                = link_to 'Categories', categories_path

            %form.navbar-form.navbar-right{ action: "/terms" }
              .form-group
                -# %input.form-control{:placeholder => "Search Terms", :type => "text", :name => "search" }/
                = text_field_tag :search, params[:search]

              %button.btn.btn-default{:type => "submit"} Submit
            %ul.nav.navbar-nav.navbar-right
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  = current_user.name
                  %span.caret
                %ul.dropdown-menu
                  %li= link_to "Logout", logout_path
                  %li.divider{:role => "seperator"}
                  %li= link_to "New Term", new_term_path
                  %li.divider{:role => "separator"}
                  %li= link_to "New Category", new_category_path
          / /.navbar-collapse
        / /.container-fluid
    - else
      %nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
          / Brand and toggle get grouped for better mobile display
          .navbar-header
            %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{:href => "/"} TIY Glossary
          / Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li.active
                = link_to 'Login', login_path

    .row
      .col-md-12
        = yield
